
# Datenmodell Geologie, Version {{model.revision}}#


![Extrait GeoCover vers le Moléson](geocover.png "Moléson")





\pagebreak


{% for theme in themes -%}
{% set themeloop = loop %}


## Theme {{ theme.name |upper}}

{% for cls in theme.classes -%}



### Class {{ cls.name }} {{ '{#'}}{{cls.name | slugify}}{{'}'}}
{{ cls.description.de| trim|highlight}}




    | Name                         | Type                              | Description
----|------------------------------|-----------------------------------|--------------------------------------
{% for attr in cls.attributes -%}
{%- if attr.att_type == 'CD' -%}{% set slug = "%s-%s" % (cls.name, attr.name) -%}
{%- elif attr.att_type == 'annex' -%}{% set slug, location = attr.value, 'vgl. Anhang %s' % attr.value %}{% set see_annex = 'Die möglichen Werte sind in der Tabelle %s im Anhang dieses Dokumentes verfügbar.' % attr.value %}{%- else -%}{% set slug = None %}{% endif -%}
{%- if slug != None -%}
{{loop.index}} | **{{ attr.name  }}**                | [CodedDomain](#{{slug| slugify}})  | {{ attr.description.de|trim }}. {{ see_annex }}
[]()           | Cardinality [{{ attr.cardinality}}] |                                                      |
{% else -%}
{{loop.index}} | **{{ attr.name  }}**                | {{attr.att_type}}                                    | {{ attr.description.de|trim }}
[]()           | Cardinality [{{ attr.cardinality}}] | {{attr.value}}                                       |
{% endif -%}

{% endfor %}



{% for attr in cls.attributes -%}
{% set slug = "%s-%s" % (cls.name, attr.name) %}
#### Attribute {{ attr.name }}
{%- if attr.att_type == 'CD' %} {{ '{#'}}{{slug| slugify}}{{'}'}}{% endif %}
_{{ attr.description.de|trim|highlight}}_
{%- if attr.att_type in ('boolean', 'string', 'float', 'range', 'integer') %}
_Datentyp:  {{ attr.att_type  }}_
{% endif %}
{%- if attr.att_type == 'annex' %}
Siehe die CodedDomain [{{attr.value}}](#{{attr.value| slugify}}) in Ahhang
{% endif %}

{% if 'pairs' in attr -%}
|GeolCode|Deutsch|Français|
|---------------|----------------------------------------|----------------------------------------|
{% for key, value in attr.pairs.items() -%}
|{{key}} | {{value}} | {{key|tr}}     |
{% endfor %}
{% endif %}

{% endfor %}
{% endfor %}
{% endfor %}


{% for annex in annexes -%}


## Anhang {{ annex.name |upper}} {{ '{#'}}{{annex.name | slugify}}{{'}'}}
{{ annex.description.de }}

{% if 'pairs' in annex -%}
|GeolCode|Deutsch|Français|
|---------------|----------------------------------------|----------------------------------------|
{% for key, value in annex.pairs.items() -%}
|{{key}} | {{value}} | {{key|tr}}     |
{% endfor %}
{% endif %}
{% endfor %}


{{ _("10003002") }}
