
# Datenmodell Geologie #
Beschreibung und Objektkatalog, Version 3.5
{{ date }}

![Extrait GeoCover vers le Moléson](geocover.png "Moléson")


Bundesamt für Landestopographie swisstopo
\pagebreak


{% for theme in themes -%}

## Theme {{ theme.name |upper}} ##
{% for cls in theme.classes -%}
### Class {{ cls.name }} ###
{{ cls.description| trim }}




Name                    | Type                                   | Description
------------------------|----------------------------------------|---------------------------------
{% for attr in cls.attributes -%}
{{ attr.name  }}        | {{attr.att_type}}                      | {{ attr.description   }}
[{{ attr.cardinality}}] |{{attr.value}}                        |
{% endfor %}



{% for attr in cls.attributes -%}
{{ attr.name }}   _{{ attr.description|trim}}_

{% if 'pairs' in attr -%}
|GeolCode|Deutsch|Français|
|---------------|----------------------------------------|----------------------------------------|
{% for key, value in attr.pairs.items() -%}
|{{key}} | {{value}} | {{value}}     |
{% endfor %}
{% endif %}
   
{% endfor %}
{% endfor %}
{% endfor %}
