<meta name="ModelRevision" content="{{model.short_revision}}">
<meta name="GitTag" content="{{ git_info.tag }}>
<meta name="GitHash" content="{{ git_info.hash }}">
<meta name="BuildDate" content="{{ date.isoformat() }} ">