---
title: {{ _("Geological datamodel") }}, {{ _("Revision %(name)s (%(hash)s)", name=model.revision, hash=hash) }} 
subtitle: {{_("Beschreibung und Datenkatalog")}}
author: {{_("Bundesamt für Landestopographie swisstopo")}}
date:  {{ date | format_date_locale('MMMM yyyy', lang) }}
keywords:
  - "GeoCover"
  - "Metadata"
  - "Model"
  - "GIS"
  - "Vector data"
  - "Geology"
  - "Switzerland"
subject: {{_("Geologische Landesaufnahme der Schweiz")}}
lang: {{lang}}

fontsize: 9pt
geometry: "left=3cm,right=2cm,top=3cm,bottom=3cm"
colorlinks: true
linkcolor: teal
urlcolor: teal
toccolor: gray

# PDF
papersize: a4
mainfont: "DejaVu Sans"

---

