
# {{ _("Geological datamodel") }}, {{ _("Revision %(name)s", name=model.revision) }} #





![{{ _("Extract of Geocover and exemple of representation") }}](geocover.png "{{ _("Figure alt text") }}")





\pagebreak


{% for theme in themes -%}
{% set themeloop = loop %}


## {{_("Theme")}} {{ theme.name |upper}}

{% for cls in theme.classes -%}



### {{_("Class")}} {{ cls.name }} {% if cls.abrev -%}({{cls.abrev}}){% endif -%}  {{ '{#'}}{{cls.name | slugify}}{{'}'}}
{{ cls.description[lang]| trim|highlight}}




{{_("Name")}}             | {{_("Type")}} | {{_("Description")}}                             |  {{_("Card.")}}
--------------------------|------------|-----------------------------------------------------|-----
{% for attr in cls.attributes -%}
{%- if attr.change != 'removed' -%}
{%- if attr.mandatory -%}{% set mandatory =  "**%s**" % (_("yes")) -%}{% else -%}{% set mandatory =  "%s" % (_("no")) -%}{% endif -%}
{%- if attr.att_type == 'CD' -%}{% set slug = "%s-%s" % (cls.name, attr.name) -%}
{%- elif attr.att_type == 'annex' -%}{% set slug, location = attr.value, 'vgl. Anhang %s' % attr.value %}{% set see_annex = 'Die möglichen Werte sind in der Tabelle %s im Anhang dieses Dokumentes verfügbar.' % attr.value %}{%- else -%}{% set slug = None %}{% endif -%}
{%- if (slug != None) and (attr.att_type == 'CD') -%}
**{{ attr.name |upper  }}**                 | [{{_("CodedDomain")}}](#{{slug| slugify}})  | {{ attr.description[lang]|trim }}. | [{{ attr.cardinality}}]
{%elif (slug != None) and (attr.att_type == 'annex') -%}
**{{ attr.name |upper  }}**                 | [ {{_("Table")}} ](#{{slug| slugify}})  | {{ attr.description[lang]|trim }}. | [{{ attr.cardinality}}]
{% else -%}
**{{ attr.name |upper  }}**                 | {{attr.att_type}}                  | {{ attr.description[lang]|trim }} | [{{ attr.cardinality}}]
{% endif -%}
{% endif -%}
{% endfor %}



{% for attr in cls.attributes -%}
{%- if attr.change != 'removed' -%}
{% set slug = "%s-%s" % (cls.name, attr.name) %}
#### {{_("Attribute")}}  {{ attr.name |upper}}
{%- if attr.att_type == 'CD' %} {{ '{#'}}{{slug| slugify}}{{'}'}}{% endif %}
_{{ attr.description[lang]|trim|highlight}}_
{% if attr.att_type in ('boolean', 'string', 'float', 'range', 'integer') %}
_{{_("Datatype")}} :  {{ attr.att_type  }}_
{% endif %}
{%- if attr.att_type == 'annex' %}
{{_("See")}} [{{attr.value}}](#{{attr.value| slugify}}) {{_("in the Annex")}}
{% endif %}

{% if 'pairs' in attr -%}
|GeolCode|Deutsch|Français|
|---------------|----------------------------------------|----------------------------------------|
{% for key, value in attr.pairs.items() -%}
|{{key}} | {{value|remove_prefix}} | {{key|tr(value)}}     |
{% endfor %}
{% endif %}

{% endif -%}
{% endfor %}
{% endfor %}
{% endfor %}



{% for annex in annexes -%}


## {{_("Annexe")}}  {{ annex.name |upper}} {{ '{#'}}{{annex.name | slugify}}{{'}'}}
{{ annex.description[lang] }}

{% if 'pairs' in annex -%}
|GeolCode|Deutsch|Français|
|---------------|----------------------------------------|----------------------------------------|
{% for key, value in annex.pairs.items() -%}
|{{key}} | {{value}} | {{key|tr(value)}}     |
{% endfor %}
{% endif %}
{% endfor %}


{% extends "comparison_reports.j2" %}


