# {{ _("Changes to the Geological datamodel") }}#





![{{ _("Simplified Geocover Model") }}](model.png "{{ _("Figure alt text") }}")





\pagebreak


# Model changes


## Pre 4 to 4.0

{% include "comparison_reports.j2" %}

## 4.0 to 4.1


{% include "diff_reports.j2" %}


